/*
 * @Date         : 2020-10-18 10:52:43
 * @Author       : MemoryShadow
 * @LastEditors  : MemoryShadow
 * @LastEditTime : 2020-10-18 16:33:44
 * @Description  : 基础组件css样式
 */

html.blue {
    background: linear-gradient(rgb(158, 215, 250) 0%, #FFFFFF 30px);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

div.title {
    display: flex;
}

a.button {
    display: flex;
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 11px #A8A8A8;
    -webkit-box-shadow: 2px 2px 11px #A8A8A8;
    box-shadow: 2px 2px 11px #A8A8A8;
    margin: 10px;
}

a.button.enable {
    text-decoration: none;
    background-color: #4E71F2;
    color: #FFF;
}

a.button.enable:hover {
    text-decoration: none;
    background-color: #6c89f3;
    color: #FFF;
}

a.button.disable {
    text-decoration: line-through;
    background-color: #4d4d4d;
    color: #FFF;
    pointer-events: none;
}